#retireTable thead th ~ th ~ th {border-bottom: 2px solid black;}
#retireTable tbody th {border-right: 2px solid black;}
#retireTable th, #retireTable td {padding: 3px 4px; font-size: 0.8em;}
#retiretax-th {white-space: nowrap; vertical-align: middle; width: 1.5em;}
#retiretax-th div {transform: rotate(-90deg); margin: 0 -4em;}
