* {box-sizing: border-box;}
h1 {margin: 0.5em 0;}
nav ul {list-style-type: none; margin: 0; padding: 0; background-color: #eee;}
nav ul:after, .row:after, article:after {content: " "; display: table; clear: both;}
nav ul li, .col {float: left;}
nav ul li {margin-right: 15px;}
nav ul li:hover {background-color: #ddd;}
nav ul li a, h1 a {text-decoration: none; color: inherit;}
.width-3 {width: 25%;}
.width-4 {width: 33.33333333%;}
.width-6 {width: 50%;}
.width-8 {width: 66.66666667%;}
.width-9 {width: 75%;}
.width-12 {width: 100%;}
section, article {padding: 0 15px;}
article {margin-top: 10px;}
article.bordered{border-left-width: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;}
p {margin: 15px 0;}

.tag-filters input[type="checkbox"],
  .tag-filters input[type="checkbox"]:checked ~ article {display:none;}
#finance-tags:checked ~ article.finance,
  #faith-tags:checked ~ article.faith,
  #fun-tags:checked ~ article.fun,
  #outdoors-tags:checked ~ article.outdoors {display: block;}
.tag-filters label {display: inline-block; padding: 3px; cursor: pointer;
  border: 2px solid black; border-radius: 5px;}
.tag-filters input[type="checkbox"]:not(:checked) + label {background-color: #fff; color: black;}
label.finance {background-color: #984ea3; border-color: #984ea3; color: white;}
label.faith {background-color: #377eb8; border-color: #377eb8; color: white;}
label.outdoors {background-color: #4daf4a; border-color: #4daf4a; color: white;}
label.fun {background-color: #e41a1c; border-color: #e41a1c; color: white;}
article.finance {border-left-color: #984ea3;}
article.faith {border-left-color: #377eb8;}
article.outdoors {border-left-color: #4daf4a;}
article.fun {border-left-color: #e41a1c;}
article div {float: right;}
article div:after {font-size: 0.75em; text-align: right;}
article.finance div:after {content: "Filed under Finance";}
article.faith div:after {content: "Filed under Faith";}
article.outdoors div:after {content: "Filed under Outdoors";}
article.fun div:after {content: "Filed under Fun";}

/*
  #e41a1c
  #377eb8
  #4daf4a
  #984ea3
  #ff7f00
  #ffff33
  #a65628
  #f781bf
  #999999
*/

.inputs-panel {padding: 0 15px 15px 15px; margin-top: 15px; border-radius: 5px;}
.inputs-panel label, .inputs-table label {display: inline-block; width: 100%;}
.inputs-panel input, .inputs-panel select,
  .inputs-table input, .inputs-table select
  {display: block; width: 100%; margin: 10px 0; padding: 5px;}
.outputs-panel {padding: 0 15px;}
#retireTable {border-collapse: collapse;}
#retireTable thead th ~ th ~ th {border-bottom: 2px solid black;}
#retireTable tbody th {border-right: 2px solid black;}
#retireTable th, #retireTable td {padding: 3px 4px; text-align: center; font-size: 0.8em;}
#ror-th {white-space: nowrap; vertical-align: middle; width: 1.5em;}
#ror-th div {transform: rotate(-90deg); margin: 0 -7.5em;}

.rdbu1 {background-color: #b2182b;}
.rdbu2 {background-color: #d6604d;}
.rdbu3 {background-color: #f4a582;}
.rdbu4 {background-color: #fddbc7;}
.rdbu5 {background-color: #f7f7f7;}
.rdbu6 {background-color: #d1e5f0;}
.rdbu7 {background-color: #92c5de;}
.rdbu8 {background-color: #4393c3;}
.rdbu9 {background-color: #2166ac;}

.border-collapse {border-collapse: collapse;}
.bordered {border: 1px solid black;}
.round {border-radius: 50%;}
.centered {margin-left: auto; margin-right: auto;}
.pizza {width: 300px; height: 300px; padding: 50px;}
.pizza-box {min-width: 300px;}
